 ------
 Usage
 ------
 Marcel May
 ------
 
Using the Maven Resource Bundle Check Plugin

  The first step is configuring Maven with the repository containing the plugin.
  Add the <pluginRepository> entry either to your {{{http://maven.apache.org/ref/3.0.3/maven-model/maven.html#class_pluginRepository}pom.xml}} or global {{{http://maven.apache.org/ref/3.0.3/maven-settings/settings.html#class_pluginRepository}settings.xml}}.

---
<pluginRepository>
  <id>consol-labs-release</id>
  <url>http://labs.consol.de/maven/repository/</url>
  <snapshots>
    <enabled>false</enabled>
  </snapshots>
  <releases>
    <enabled>true</enabled>
  </releases>
</pluginRepository>
---

* Integrate as a report

  Adding this to your <pom.xml> will generate you a report whenever you build the project site.
  See {{{http://maven.apache.org/plugins/maven-site-plugin/maven-3.html#Configuration_formats}Maven Site Plugin 3.0.x}} configuration guide for details, such as Maven 3 preferred style configuration.

  Old configuration (Maven 2 & 3):

---
<reporting>
  <plugins>
    ...
    <plugin>
      <groupId>net.metacube.maven</groupId>
      <artifactId>maven-rbc-plugin</artifactId>
      <version>${project.version}</version>
    </plugin>
    ...
  </plugins>
</reporting>
---
   
  Check the {{{./rbc-example_report.html}example report}} for a preview of what to expect.
  Here is a screenshot of the example report:

[example-report-only.png] Example report

   For configuration details see the {{{./report-mojo.html} report goal}} description.

* Integrate for direct invocation

  This is suitable for running a quick check without the overhead of generating the report.
  Simply add the plugin to your <build> section of your POM:

---
<build>
  ...
  <plugins>
    <plugin>
      <groupId>net.metacube.maven</groupId>
      <artifactId>maven-rbc-plugin</artifactId>
      <version>${project.version}</version>
    </plugin>
    ...
  </plugins>
</build>
---

  Now you can invoke the plugin using <mvn rbc:check> :

[check-goal.png] Example invocation of check goal

  For usage details see the {{{./check-mojo.html} check goal}} description.

